header.Header {
  display: flex;
  justify-content: space-between;
}

.HeaderLinks {
  padding-top: 2rem;
}

.HeaderLinksWrap {
  margin: 1rem 3rem auto 0;
}

.HeaderLinks a {
  font-size: 0.9em;
  color: white;
  padding: 1rem;
}

.HeaderLinks a.HeaderLinkLogin {
  border: 2px solid #fff;
  padding: 1rem 3rem;
  margin-left: 2rem;
}

/* remove focus from logo link - mozilla */
.LogoLink::-moz-focus-inner {
  border: 0;
}

.LogoLink:focus {
  outline: none;
}

@media only screen and (max-width: 640px) {
  .HeaderLinkPricing,.HeaderLinkDocs {
    display: none;
  }
}
